{% extends "base.html" %}
{% load bootstrap4 %}

{% block container %}
{% include 'core/includes/messages.html' %}
<form method="POST" action="{% url 'clinic_signup' %}">{% csrf_token %}
    <h1 class="display-4 text-center user-select-none">Регистрация клиники</h1>
    <div class="row">
        <div class="col-sm-4 my-3 mx-auto p-3 px-md-4 mb-3 bg-white rounded shadow">
            {% bootstrap_form clinic_signup %}
            <button class="btn btn-primary btn-sm btn-block">Зарегистрироваться</button>
            <div class="dropdown-divider"></div>
            <p>Уже есть аккаунт? Пожалуйста, <a href="{% url 'account_login' %}">войдите</a>.</p>
        </div>
    </div>
</form>
<br>
{% endblock %}
