{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block container %}
<h1 class="text-center select-user-none">Регистрация</h1>

<p>Вы собираетесь использовать свою учетную запись {{ account.get_provider.name }} для входа на
{{ site.name }}. В качестве последнего шага, пожалуйста, заполните следующую форму:</p>

<form class="col-sm-4 my-3 mx-auto p-3" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
  {% endif %}
  <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
</form>
<br>

{% endblock %}
