{% extends "base.html" %}

{% load account %}

{% block container %}
<h1>Подтвердите адрес электронной почты</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>Пожалуйста, подтвердите, что <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> - это адрес электронной почты пользователя {{ user_display }}.</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">{% csrf_token %}
    <button class="btn btn-primary" type="submit">Подтвердить</button>
</form>
<br>
{% else %}

{% url 'account_email' as email_url %}

<p>Срок действия ссылки для подтверждения по электронной почте истек или она недействительна. Пожалуйста, <a href="{{ email_url }}">, отправьте новый запрос на подтверждение по электронной почте.</a></p>

{% endif %}
{% endblock %}
