{% extends "base.html" %}

{% load bootstrap4 %}
{% load i18n %}
{% load account %}

{% block container %}
    <form method="POST" action="{% url 'account_reset_password' %}">{% csrf_token %}
        <h1 class="display-4 text-center user-select-none">Сброс пароля</h1>
        <p>Забыли пароль? Введите ниже свой адрес электронной почты, и мы отправим вам электронное письмо,
            позволяющее изменить его.</p>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <div class="row">
            <div class="col-sm-4 my-3 mx-auto p-3 px-md-4 mb-3 rounded shadow">
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary btn-block" value="Сбросить пароль">
            </div>
        </div>
    </form>
    <p>Свяжитесь с нами, если у вас возникнут проблемы со сбросом пароля.</p>
{% endblock %}
