{% extends "base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block container %}
    <form method="POST" action="{% url 'account_set_password' %}">
        <h1 class="text-center">Установка пароля</h1>
        <div class="row">
            <div class="col-sm-3 my-3 mx-auto p-3 px-md-4 mb-3 rounded shadow">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class="btn btn-primary" type="submit" name="action" value="Установить пароль"/>
            </div>
        </div>
    </form>
{% endblock %}
