{% extends "base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <h1 class="display-4 text-center user-select-none">{% if token_fail %}Недействительный токен{% else %}Изменить пароль{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Запросите новый сброс пароля.</p>
    {% else %}
        {% if form %}
            <div class="row">
                <div class="col-sm-3 my-3 mx-auto p-3 px-md-4 mb-3 rounded shadow">
                    <form method="POST" action="{{ action_url }}">{% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="submit" class="btn btn-primary btn-block" name="action" value="Изменить пароль">
                    </form>
                </div>
            </div>
            <br>
        {% else %}
            <p>Ваш пароль теперь изменен.</p>
        {% endif %}
    {% endif %}
{% endblock %}
