{% extends "base.html" %}

{% load i18n %}

{% block container %}
<h1>Проверьте свой адрес электронной почты</h1>

{% url 'account_email' as email_url %}

<p>Эта часть сайта требует от нас подтверждения того, что вы являетесь тем, кем себя называете.
    Для этого мы требуем, чтобы вы подтвердили право собственности на свой адрес электронной почты.</p>

<p>Мы отправили вам электронное письмо для проверки. Щелкните ссылку в этом электронном письме.
    Пожалуйста, свяжитесь с нами, если вы не получите его в течение нескольких минут.</p>

<p><strong>Примечание:</strong> вы все равно можете <a href="{{ email_url }}">изменить свой адрес электронной почты</a>.</p>

{% endblock %}
