{% extends 'base.html' %}

{% block content %}
    <div class="row">
    <h1 class="text-center user-select-none">Персональные данные</h1>
    <div class="col-1">
        <div class="nav flex-column nav-pills text-center">
            <a class="nav-link active" href="{% url 'profile' request.user.id %}">
                Профиль
            </a>
            <a class="nav-link" href="{% url 'account_email' %}">
                Управление почтой
            </a>
            <a class="nav-link" href="{% url 'favorite_clinics' %}">
                Сохранено
            </a>
            <a class="nav-link" href="{% url 'profile_update' %}">
                Настройки
            </a>
        </div>
    </div>
    <br>
{% endblock %}

{% block container %}
    <div class="col-5">
        <h1 class="text-muted">Данные аккаунта</h1>
        {% include 'core/includes/messages.html' %}
        <div class="contact-info-wrap">
            <ul class="list-group list-group-flush">
                {% if user.profile.photo %}
                    <img src="{{ user.profile.photo.url }}" class="img-thumbnail">
                {% endif %}
                <li class="list-group-item">Полное имя - {{ user.get_full_name }}</li>
                <li class="list-group-item">Имя пользователя - @{{ user.username }}</li>
                <li class="list-group-item"><p><span><i class="icon-mail"></i></span> {{ user.email }}</p></li>
                <li class="list-group-item"><p><span><i class="icon-phone"></i></span> <a href="tel://{{ user.profile.phone_number }}">{{ user.profile.phone_number }}</a></p></li>
            </ul>
        </div>
        <br>
        {% if request.user.id == user.id %}
            <table class="table table-borderless caption-top">
                <caption>Дополнительная информация</caption>
                <tr>
                    <th scope="row">ИНН</th>
                    <td>{{ user.profile.itn }}</td>
                </tr>
                <tr>
                    <th scope="row">Пол</th>
                    <td>{{ user.profile.get_gender_display }}</td>
                </tr>
                <tr>
                    <th scope="row">Дата рождения</th>
                    <td>{{ user.profile.birth_date }}</td>
                </tr>
                <tr>
                    <th scope="row">Город</th>
                    <td>{{ user.profile.get_city_display }}</td>
                </tr>
                <tr>
                    <th scope="row">Группа крови</th>
                    <td>{{ user.profile.blood_type }}</td>
                </tr>
            </table>
        {% endif %}
    </div>
    </div>
{% endblock %}
