{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center user-select-none">Персональные данные</h1>
    {% include 'core/includes/messages.html' %}
    <br>
    <div class="row">
        {% include 'includes/side_panel.html' %}
        <div class="col-4">
            <h3 class="text-muted">Данные аккаунта</h3>
            <ul class="list-group list-group-flush">
                {% if user.profile.photo %}
                    <img src="{{ user.profile.photo.url }}" class="img-thumbnail">
                {% endif %}
                <li class="list-group-item">Полное имя - {{ user.get_full_name }}</li>
                <li class="list-group-item">Имя пользователя - @{{ user.username }}</li>
                <li class="list-group-item">Электронная почта - {{ user.email }}</li>
                <li class="list-group-item">Номер телефона - {{ user.profile.phone_number }}</li>
            </ul>
            <br>
            {% if request.user.id == user.id %}
                <table class="table table-borderless caption-top">
                    <caption>Дополнительная информация</caption>
                    <tr>
                        <th scope="row">ИНН</th>
                        <td>{{ user.profile.itn }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Пол</th>
                        <td>{{ user.profile.get_gender_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Дата рождения</th>
                        <td>{{ user.profile.birth_date }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Город</th>
                        <td>{{ user.profile.get_city_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Группа крови</th>
                        <td>{{ user.profile.blood_type }}</td>
                    </tr>
                </table>
            {% endif %}
        </div>
    </div>
    <hr>
{% endblock %}
