{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <h1 class="text-center user-select-none">Персональные данные</h1>
        <div class="col-1">
            <div class="nav flex-column nav-pills text-center">
                <a class="nav-link" href="{% url 'profile' request.user.id %}">
                    Профиль
                </a>
                <a class="nav-link" href="{% url 'account_email' %}">
                    Управление почтой
                </a>
                <a class="nav-link" href="#">
                    Сохраненное
                </a>
                <a class="nav-link active" href="{% url 'profile_update' %}">
                    Настройки
                </a>
            </div>
        </div>
        {% include 'core/includes/messages.html' %}
        <br>
{% endblock %}

{% block container %}
        <div class="row">
            <div class="col-5">
                <h3 class="text-muted">Настройки и доступ</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{% url 'socialaccount_connections' %}" class="text-primary">Подключения к социальным сетям</a></li>
                    <li class="list-group-item"><a href="{% url 'account_change_password' %}" class="text-primary">Изменить пароль</a></li>
                    <li class="list-group-item"><a href="{% url 'account_reset_password' %}" class="text-danger">Сбросить пароль</a></li>
                </ul>
            </div>
            <div class="col-4">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form user_form %}
                    {% bootstrap_form profile_form %}
                    <button class="btn btn-primary" type="submit">Сохранить изменения</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}